In [10]:
# Input to create a series out of the below
import numpy as np
import pandas as pd


a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

In [12]:
# print list
a_list

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [3]:
# output array
numpy_array

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# output dictionary
dictionary

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 5}

In [8]:
# loop through range
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [14]:
a = pd.Series(a_list)
b =  pd.Series(numpy_array)
c = pd.Series(dictionary)

In [15]:
a

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [16]:
b

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [18]:
c

A    0
B    1
C    2
D    3
E    5
dtype: int64

In [25]:
a =  pd.to_datetime(19/5/2020)
(date, month, year) = a

TypeError: cannot unpack non-iterable Timestamp object